body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
}

nav {
    width: 180px;
    background-color: #f2f2f2;
    padding: 15 px;
}

nav a {
    display: block; 
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

.product{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.product img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding 5px;
}