body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #5DD3B6;
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;
    flex: 2;   
}


nav {
    width: 180px;
    background-color: #215E61;
    padding: 15 px;
}

nav a {
    display: block; 
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

.product{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 3px;   
    height: 3px;   
    display: block;
}

footer {
    background-color: #5DD3B6;
    color: white;
    text-align: center;
    padding: 10px;
}

input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding 5px;
}
